/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/03/2018, 20:30:12
    Author     : Redouane Kahlioui
*/

body {
    background:#f0f0f0;
    font­family: 'Poiret One', cursive;
}

h1 {
    color:orange;
}

h2,h3,h4,h5,h6 {
    color:#444;
    /*font­family: 'Lobster', cursive;*/
}

footer {
    background:#222;
    padding:20px;
}

.page {
    background:#fff;
    border­radius:1em;
    margin:1em;
    min­height:500px;
    padding:1em;
}