/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/02/2018, 19:25:49
    Author     : REDOUNANE KAHLIOUI
*/

body{
    background: #e8e9ea;
}
/* footer ­­­­­­­­­*/
footer{
    position: relative;
    background: #222;
    text­align: center;
}
footer p {
    text­align: justify;
}
ul.xarxes li {
    display: inline­block;
}
ul.xarxes li a {
    color: orange;
}
.avatar{
    border: 5px solid orange;
    border­radius: 50%;
    float: left;
    height: 100px;
    width: 100px;
}

.navbar­brand{
    color:orange;
    font­size: 26px
}
#demo {
    position: relative;
    max-width: 100%;
    width: 100%;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    padding: 10px;
}
.white-panel h1 {
    font-size: 1em;
}
.white-panel h1 a {
    color: #A92733;
}
.white-panel:hover {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.table-cart {
    background: #fff;
    border-radius: 1em;
    margin-bottom: 30px;
    padding: 1em;
}

.table-cart img {
    width: 50px;
}


.contenidor_productes{
    position: relative;
}


/************************************************************************
*************************************************************************
************************************************************************
************************** FOOTER **************************************/
footer{
    width: 100%;
    padding: 20px;
    background-color:darkgrey;
    margin-top: 250px;
}

footer .footer_contenidor{
    display: flex;
    flex-flow: wrap row;
    justify-content:center;
    align-content: center;
}

footer .footer_contenidor .footer_element{
    width: 250px;
}

/* Detall de la comanda ­­­­­­­­­­­­*/
.page{
    background: #FFF;
    border­radius: 1em;
    margin­bottom: 30px;
    padding: 1em;
}

.product-block img{
    width: 80%;
} 